body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DCD7C9;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3F4F44;
    border-radius: 5%;
    display: flex;
    width: fit-content;
    padding-right: 10%;
    background-color: #A27B5C;

}

.boxContent{
    display: block;
    margin: 20%;
    background-color: #3F4F44;
    color: #DCD7C9;
}

button{
    background-color: #2C3930;
    color: #DCD7C9;

}
